<?xml version="1.0"?>
<!--
/**
 * Konverty Affiliate Tracker Admin Configuration
 * 
 * @category  Konverty
 * @package   Konverty_AffiliateTracker
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="konverty" translate="label" sortOrder="400">
            <label>Konverty</label>
        </tab>
        
        <section id="konverty_affiliate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Affiliate Tracker</label>
            <tab>konverty</tab>
            <resource>Konverty_AffiliateTracker::config</resource>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Tracking</label>
                    <comment>Enable or disable Konverty affiliate tracking</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="endpoint_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking Endpoint URL</label>
                    <comment>Default: https://admin.konverty.com/trackShopify.jsp</comment>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="webhook_endpoint_url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook Endpoint URL</label>
                    <comment>URL for order status updates. Default: https://admin.konverty.com/webhookShopify.jsp</comment>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="cookie_lifetime" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Lifetime (days)</label>
                    <comment>Number of days to keep affiliate cookies. Default: 60</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="debug_mode" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <comment>Log all tracking events to system.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Settings</label>
                
                <field id="track_visits" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Visits</label>
                    <comment>Track page visits with affiliate parameters</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="track_sales" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Sales</label>
                    <comment>Track completed orders with affiliate attribution</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="send_webhooks" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Status Webhooks</label>
                    <comment>Send webhooks on order status changes (fulfilled, cancelled, refunded)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="cookie_prefix" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Prefix</label>
                    <comment>Prefix for affiliate cookies. Default: aff_</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>


